.inicio-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.inicio-content {
    max-width: 50%;
}

.inicio-content h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.inicio-content p {
    line-height: 1.2;
    margin-bottom: 30px;
}

.button {
    padding: 5px 10px;
    background-color: #F7E7CE; 
    color: #333;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e6d1b4;
}

.inicio-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .inicio-section {
        flex-direction: column;
        text-align: center;
    }

    .inicio-content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .inicio-image {
        width: 100%;
    }
}